@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hemlock IoT Manager!</h1>
    <h3><i>The most convenient platform to track all your IoT GPS devices.</i></h3>
    <h1>TODO: add bar charts and other stuff like that to track usage</h1>
</div>
