@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>Privacy Policy for Hemlock IoT Manager:</b> We collect your email and password for account registration and offer the option to delete IoT device location logs at any time. Your information is used solely for account management and device tracking within Hemlock IoT Manager, and we do not share or sell your data to third parties unless legally required or with your explicit consent. We prioritize data security and offer the choice to delete your account and associated logs. This Privacy Policy may be updated, and you can reach out to us for questions or concerns.</p>
