@page
@model HemlockIotManager.Pages.TestDataGeneratorRemoveBeforeDeploymentModel
@{
}

<h1>THIS PAGE MUST BE REMOVED BEFORE PRODUCTION DEPLOYMENT</h1>
<h2>Generate Test Data</h2>

<form method="post">
    <button type="submit" class="btn btn-primary">Generate Test Data</button>
</form>